@model instaPayPortal.ViewModel.PostList
@{
    ViewBag.Title = "postS";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


@section scripts{
    
}

<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">


    <div class="row" style="margin:10px">
        @foreach (var item in Model.posts)
        {
            string thumb = "/InstaImages/post/" + Model.customer + "/" + item.thumb;
            string media = "/InstaImages/post/" + Model.customer + "/" + item.media;
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top:10px">
                <div style="padding:5px;border:1px solid #ddd;  border-radius: 8px; box-shadow: 2px 2px 5px -1px rgba(148,149,153,1); ">
                    @if (item.isVideo == "1")
                    {
                        <div style="width:100%; height:300px; display:flex; object-fit:cover">
                            <img style="width:100%" class="myimg" src=@thumb />
                            <i id="@item.media" class="fa fa-play thumb" style="cursor:pointer; font-size:65px;color: yellow;z-index: 99;position: absolute;top:120px;left:45%"></i>

                        </div>


                    }
                    else
                    {
                        <div style="width:100%; height:300px; display:flex; object-fit:cover">
                            <img style="width:100%" src=@media />
                        </div>

                    }

                    <p style="width:100%; text-align:center; padding:10px; height:250px; overflow-y:scroll">@item.description</p>
                </div>


            </div>

        }
        <script>
            $(".thumb").click(function () {
                $("#videoParent").css("display", "flex")
                var src = $(this).attr('id');
                var video = document.getElementById('video');
                video.src = "/InstaImages/post/" + @Model.customer + "/"  + src;
                video.load();
                video.play();

            })
        </script>
    </div>

    <div class="col-lg-12 col-md-12" style="display:flex">
        @{
            var total = Convert.ToInt32(Model.count);
            var activ = Convert.ToInt32(Model.currentPage);
            var activminus2 = activ - 2;
            var activminus1 = activ - 1;
            var activplus1 = activ + 1;
            var activplus2 = activ + 2;



            if ((total - activ) > 3 & activ > 3)
            {
                <ul class="pagination" style="margin:20px auto">

                    <li><a>«</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>1</a></li>
                    <li><a>...</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus2</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus1</a></li>
                    <li class="active"><a>@activ</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus1</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus2</a></li>
                    <li> ...</li>
                    <li><a>@total</a></li>
                    <li><a>»</a></li>
                </ul>
            }
            else if ((total - activ > 3) && !(activ > 3))
            {
                <ul class="pagination">

                    @for (int i = 1; i < activ; i++)
                    {
                        <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                    }
                    <li class="active"><a>@activ </a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus1</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus2</a></li>
                    <li><a href="#">...</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@total</a></li>
                    <li><a href="#">»</a></li>
                </ul>

            }
            else if (!(total - activ > 3) && activ > 3)
            {
                <ul class="pagination">

                    <li><a>«</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>1</a></li>
                    <li><a>...</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus2</a></li>
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus1</a></li>
                    <li style="cursor:pointer" class="active"><a>@activ </a></li>
                    @for (int i = activ + 1; i <= total; i++)
                    {
                        <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                    }
                    <li><a>»</a></li>
                </ul>

            }
            else if (total > 1 && !((total - activ) > 3) && !(activ > 3))
            {

                <ul class="pagination">

                    @for (int i = 1; i < activ; i++)
                    {
                        <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                    }
                    <li class="active"><a href="#">@activ</a></li>
                    @for (int i = activ + 1; i <= total; i++)
                    {
                        <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                    }

                </ul>

            }

        }

        <script>
            $(".pagingnumberforall").click(function () {
                var num = this.textContent;
                window.location.href = "/manager/posts?page=" + num
                
            })

        </script>


    </div>

</div>
